nav
	.nav-logo
		.nav-app-sprout-logo
		.nav-rule
	.nav-items
		.account
			.account-icon
			.account-text
				| Account
		.list
			.list-icon
			.list-text
				| List
		.logout
			.logout-icon
			.logout-text
				| Logout