.list-wrapper
{
	flex-direction: row;
	align-self: center;

	width: 80%;
}

.list-header
{
	align-self: center;

	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;

	h2
	{
		margin-bottom: 16px;
	}
}

.list-state
{
	width: 100%;
	padding-bottom: 80px;
}

.list
{
	flex-grow: 1;

	overflow: hidden;
	margin-right: 30px;
	border-radius: 6px;
	background-color: #fcfcfa;
	box-shadow: 0 2px 0 0 #ebebe4, 0 6px 5px 0 rgba( 0, 0, 0, 0.03 );

	transition: all 0.2s ease-out;
}

.state-description
{
	font-size: 14px;
	line-height: 22px;
}

.add-new-list-item
{
	align-items: center;
	align-self: center;
	align-self: flex-start;
	justify-content: center;

	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: $blue;
	box-shadow: 0 2px 0 0 #58784e, 0 4px 5px 0 rgba( 0, 0, 0, 0.14 );

	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
}

.list-item
{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	overflow: hidden;
	cursor: pointer;
	height: 60px;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid #edede8;
	background-color: #fcfcfa;



	&:hover
	{
		background-color: darken( #fcfcfa, 8% );

		transition: all 0.2s ease-out;
	}

	&.ng-enter
	{
		height: 0px;
		padding: 0 20px 0 20px;

		transition: all 0.5s ease-out;
	}

	&.ng-leave
	{
		height: 60px;
		padding: 10px 20px 10px 20px;

		transition: all 0.5s ease-out;
	}

	&.ng-enter.ng-enter-active
	{
		height: 60px;
		padding: 10px 20px 10px 20px;

		transition: all 0.5s ease-out;
	}

	&.ng-leave.ng-leave-active
	{
		height: 0px;
		padding: 0 20px 0 20px;

		transition: all 0.5s ease-out;
	}
}

.list-item-text
{
	flex-grow: 1;

	height: 100%;
}

.list-item-text input
{
	width: 100%;
	height: 100%;
	outline: 0;
	border: 0;
	background-color: transparent;

	font-size: 14px;
	font-family: 'Muli';
}

.delete-list-item
{
	@extend %icon-x-solid;

	align-items: center;
	justify-content: center;

	width: 30px;
	height: 100%;

	font-size: 15px;
}
