.list-wrapper {
	align-self: center;

	width: 80%;
}

.list-header {
	align-self: center;

	width: 80%;
	margin-top: 30px;
	margin-bottom: 40px;

	h2 {
		margin-bottom: 10px;
	}
}

.list-state {
	width: 100%;
	padding-bottom: 80px;
}


.state-description {
	font-size: 14px;
	line-height: 22px;
}
