.list-state
	.list-header
		h2
			| List
		.state-description
			| Add an item by clicking the plus.
			br
			| Edit an item by click on its text.
			br
			| Delete an item by clicking the x.
	.list-wrapper
		ul.list
			li.list-item( ng-repeat='item in list | reverse', ng-keypress='saveList( item, $index, $event )' )
				.list-item-text
					input( type='text', ng-model='item.name' )
				.delete-list-item
		.add-new-list-item( ng-click='addNewListItem(  )' )