.list-state
	.list-header
		h2
			| List
		.state-description
			| Add an item by clicking the plus.
			br
			| Edit an item by click on its text.
			br
			| Delete an item by clicking the x.
	.list-wrapper
		.list
			.list-item
				.list-item-text
					| GameCube
				.delete-list-item
			.list-item
				.list-item-text
					| GameCube
				.delete-list-item
			.list-item
				.list-item-text
					| GameCube
				.delete-list-item
			.list-item
				.list-item-text
					| GameCube
				.delete-list-item
		.add-new-list-item