.list-state
	.list-header
		h2
			| List
		.state-description
			| This list demonstrates create, read, update, and delete behavior.

	.list-wrapper
		
		ul.list
			.spinner-wrapper
				spinner( ng-show='loading' )
			li.list-item( ng-repeat='item in list | reverse', ng-keypress='keyPress( item, $index, $event )' )
				.list-item-text
					input.list-item-input( type='text', ng-model='item.name', placeholder='Empty list item', ng-blur='saveList( item, $index, $event )' )
				.delete-list-item( ng-click='deleteListItem( item, $index )' )
		.add-new-list-item( ng-click='addNewListItem(  )' )
			| +