.list-state
	.header
		h1
			| List
		p
			| Add an item by clicking the plus.
		p
			| Edit an item by click on its text.
		p
			| Delete an item by clicking the x.
	.list-wrapper
		.list
			.list-item
				| GameCube
			.list-item
				| Nintendo64
			.list-item
				| Super NES
			.list-item
				| Nintendo
		.add-new-list-item