// Colors

$background: #f5f5f2;
$green: #688e5c;
$dark: #7b7b7b;





// Fonts

$muli: 'Muli', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-ultra-light: 'HelveticaNeue-UltraLight', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-thin: 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-light: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-medium: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-bold: 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
