// _homepage_style.scss



//--------+
// Main   |
//--------+

section
{
	margin-bottom: 78px;

	&.features
	{
		margin-bottom: 0;
	}
}

.app-sprout-logo
{
	align-self: center;

	width: 92px;
	height: 200px;
	margin-top: 42px;
	margin-bottom: 30px;
	background-image: url( 'images/sprout-logo.png' );
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-text
{
	align-self: center;

	margin-bottom: 16px;

	font-size: 31px;
}

.main-description
{
	align-self: center;

	margin-bottom: 70px;

	font-size: 20px;
}

.footer-source-links
{
	flex-direction: row;
	align-self: center;
	justify-content: space-between;

	width: 210px;
}

.main-source-links
{
	flex-direction: column;
	align-self: center;
	justify-content: space-between;

	.github
	{
		margin-bottom: 50px;
	}
}

.source-link-text
{
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
}

.github-logo
{
	@extend %icon-github-outline;

	margin-bottom: 10px;

	font-size: 34px;
}

.sketch-logo
{
	@extend %icon-sketch-outline;

	margin-bottom: 10px;

	font-size: 34px;
}

.github,
.sketch
{
	align-items: center;

	cursor: pointer;
	width: 48px;

	transition: all 0.2s ease-out;

	&:hover
	{
		transform: scale( 1.1, 1.1 );
	}
}

.login-form
{
	align-items: center;
	align-self: center;
	justify-content: center;

	width: 257px;
	// height: 152px;
	margin-bottom: 20px;
	border: 1px solid #ebebe4;
	border-radius: 6px;
	background-color: #fcfcfa;
	box-shadow: inset 0 2px 6px 0 rgba( 0, 0, 0, 0.08 );
}

.login-form input
{
	width: 100%;
	height: 70px;
	padding: 0 10px 0 10px;
	outline: 0;
	border: 0;
	background-color: transparent;

	font-size: 16px;
	font-family: 'Muli';
	line-height: 40px;
	text-align: center;
}

.login-rule
{
	width: 90%;
	height: 1px;
	background-color: #edede6;
}

.login-description
{
	align-self: center;

	width: 208px;
	margin-bottom: 56px;

	color: #a8a8a8;
	font-size: 11px;
	line-height: 17px;
	text-align: center;
}

.big-green-button
{
	align-items: center;
	align-self: center;
	justify-content: center;

	cursor: pointer;
	width: 257px;
	height: 44px;
	border-radius: 6px;
	background-color: $green;
	background-position: 0 -44px;
	background-size: 257px 88px;
	box-shadow: 0 2px 0 0 #58784e, 0 4px 5px 0 rgba( 0, 0, 0, 0.14 );

	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;

	transition: all 0.2s ease;

	&:hover
	{
		background-color: lighten( $green, 3% );
		box-shadow: 0 2px 0 0 #58784e, 0 5px 9px 0 rgba( 0, 0, 0, 0.34 );
	}

	&:active
	{
		background-color: $green;
		box-shadow: 0 2px 0 0 #58784e, 0 5px 6px 0 rgba( 0, 0, 0, 0.18 );

		transition: all 0.1s ease;
	}
}

.small-outline-button
{
	align-items: center;
	align-self: center;
	justify-content: center;

	cursor: pointer;
	width: 115px;
	height: 37px;
	border: 1px solid #7b7b7b;
	border-radius: 6px;

	color: #7b7b7b;
	font-size: 12px;
	text-transform: uppercase;

	transition: all 0.2s ease-out;

	&:hover
	{
		background-color: rgba( #ffffff, 0.8 );
		box-shadow: 0 1px 3px 0 rgba( #000000, 0.07 );
	}

	&:active
	{
		background-color: rgba( #7b7b7b, 0.1 );
		box-shadow: 0;
	}
}

.main-register-button
{
	margin-bottom: 25px;
}

.main-login-button
{
	margin-bottom: 40px;
}



//---------+
// Tools   |
//---------+

.tools
{
	position: relative;
}

.hexagon
{
	align-self: center;

	width: 1024px;
}

.tools-wrapper
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 178px;
}

.section-header
{
	align-self: center;

	h1
	{
		text-align: center;
	}

	p
	{
		width: 452px;

		text-align: center;
	}
}

.list-of-tools
{
	margin-top: 70px;
}

.tool
{
	align-items: center;

	width: 200px;

	p
	{
		text-align: center;
	}
}

.tool-category
{
	margin-bottom: 8px;

	color: #474747;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

.tool-logo
{
	width: 130px;
	height: 130px;
	margin-bottom: 25px;
	border-radius: 36px;
	background-color: #fcfcfa;
	box-shadow: 0 2px 0 0 #ebebe4, 0 2px 4px 0 rgba( 0, 0, 0, 0.03 );
}

.tools-row
{
	flex-direction: row;
	align-self: center;
	justify-content: space-between;

	width: 900px;
	margin-bottom: 82px;
}



//------------+
// Features   |
//------------+

.client-and-server-side-features
{
	flex-direction: row;

	width: 100%;
	margin-top: 86px;
}

.client-side-features,
.server-side-features
{
	width: 50%;
	height: 468px;
	padding: 4% 5% 4% 5%;
	background-image: linear-gradient( to bottom right, #333331, #292928 );
}

.feature-list
{
	margin-top: 36px;

	li
	{
		display: list-item;
		margin-bottom: 20px;
		margin-left: 24px;

		color: $background;
		list-style-type: disc;
	}
}



//------------+
// Footer     |
//------------+

footer
{
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 250px;
}
