section.main
	.app-sprout-logo
	.logo-text
		| app-sprout
	.main-description
		| One human's interpretation of the Mongo, Express, Angular, Node stack.
	.main-register-button.big-green-button(ui-sref='register')
		| Register
	.main-login-button.small-outline-button(ui-sref='login')
		| Login
	.source-links.main-source-links
		a.github(href='https://github.com/RyanWarner/app-sprout')
			.github-logo
			.source-link-text
				| View on Github
		a.sketch
			.sketch-logo
			.source-link-text
				| Download .sketch

section.tools
	img.hexagon(src='./images/hexagon.svg')
	.tools-wrapper
		.section-header
			h1
				| Tools
			p
				| These open-source libraries allow for this
				| project's processes and methods.
		.list-of-tools
			.tools-row
				.tool
					.tool-logo
						.angular
					.tool-category
						| Client-side Framework
					p
						| AngularJS provides an intuitive and modular Single Page Application.
				.tool
					.tool-logo
						.sass-and-jade
					.tool-category
						| Preprocessing
					p
						| Jade and Sass keep projects organized and easy to read.
				.tool
					.tool-logo
						.eslint
					.tool-category
						| Quality Control
					p
						| Keep your coding vocabularly consistent.
				.tool
					.tool-logo
						.karma-and-protractor
					.tool-category
						| Client-side Tests
					p
						| "With great power comes great responsibility"
			.tools-row
				.tool
					.tool-logo
						.express
					.tool-category
						| Server-side Framework
					p
						| Express provides a robust Node.js API development framework.
				.tool
					.tool-logo
						.mongo
					.tool-category
						| Document-oriented Database
					p
						| JSON on the client and server.
				.tool
					.tool-logo
						.passport
					.tool-category
						| Authentication
					p
						| Passport logs you in and out.
				.tool
					.tool-logo
						.mocha
					.tool-category
						| Server-side tests
					p
						| Don't hope it works, know it works.
section.features
	.section-header
		h1
			| Features
		p
			| Using the tools listed above, app-sprout
			| comes with a number of reusable patterns
			| commonly found in web applications.
	.client-and-server-side-features
		.client-side-features
			h3
				| Client-side
			ul.feature-list
				li
					| Modular application architecture
				li
					| Example parent and child nested states
				li
					| Example custom directive
				li
					| Communication with an API
				li
					| Example unit tests and end to end tests
				li
					| Custom, modern, and forward thinking CSS reset
		.server-side-features
			h3
				| Server-side
			ul.feature-list
				li
					| Example routes with middleware glued together by Bluebird promises
				li
					| User registration and login
				li
					| CRUD operations examples
				li
					| Example tests with testing utility functions
				li
					| SSL (coming soon)
footer
	.footer-source-links
		a.github(href='https://github.com/RyanWarner/app-sprout')
			.github-logo
			.source-link-text
				| View on Github
		a.sketch(href='https://github.com/RyanWarner/app-sprout')
			.sketch-logo
			.source-link-text
				| Download .sketch
