.list.add-new-list-item-field
	.add-new-list-item
		.list-item-text
			input.list-item-input( type='text', ng-keypress='addNewKeyPress( newItem, $event )', ng-model='newItem', placeholder='New list item' )
		.enter-icon( ng-click='addNewListItem( newItem )' )
			| Enter
ul.list
	.spinner-wrapper( ng-show='loading' )
		spinner
	li.list-item( ng-repeat='item in list | reverse', ng-keypress='keyPress( item, $index, $event )' )
		.list-item-text
			input.list-item-input( type='text', ng-model='item.name', placeholder='Empty list item', ng-blur='saveList( item, $index, $event )' )
		.delete-list-item( ng-click='deleteListItem( item, $index )' )