// _register_style.scss

.register-register-button
{
	margin-bottom: 50px;
}

.register-login-button
{
	margin-bottom: 30px;
}

.form-error
{
	flex-direction: row;
	align-items: center;

	position: absolute;
	width: 240px;
	height: 70px;
	top: 0;
	left: 257px;

	color: $red;
	font-size: 14px;
}

.registration-name,
.registration-email,
.registration-password
{
	width: 100%;
}
