.login-app-sprout-logo( ui-sref='homepage' )
.login
	.login-form
		input( type='text', placeholder='Name', ng-model='name' )
		hr.login-rule
		input( type='text', placeholder='Email', ng-model='email' )
		hr.login-rule
		input( type='text', placeholder='Password', ng-model='password' )
	.register-register-button.big-green-button( ng-click='registerAndLogin(  )' )
		| Register
	.register-login-button.small-outline-button( ui-sref='login' )
		| Login
	.login-description
		| Registration and login is for demo purposes
		| only. Both fields are required, but it
		| doesn’t matter what they are.
	