@keyframes spinner {
	0% {
		transform: rotate( 0deg );
	}

	100% {
		transform: rotate( 360deg );
	}
}

@mixin spinner-dots( $color ) {
	box-shadow: $color 12px 0 0 0,
	$color 8px 8px 0 0,
	$color 0 12px 0 0,
	$color -8px 8px 0 0,
	$color -12px 0 0 0,
	$color -8px -8px 0 0,
	$color 0 -12px 0 0,
	$color 8px -8px 0 0;
}

.spinner {
	@include spinner-dots( rgba( #d9d9ce, 0.5 ) );

	align-self: center;

	overflow: hidden;
	width: 5px;
	height: 5px;
	margin: 20px;
	border-radius: 0.5em;

	font-size: 10px;
	text-indent: 100%;

	animation: spinner 1500ms infinite linear;
}
