section.main
	.app-sprout-logo
	.logo-text
		| app-sprout
	.main-description
		| One human's interpretation of the Mongo, Express, Angular, Node stack.
	.source-links.main-source-links
		.github
			.github-logo
			.source-link-text
				| View on Github
		.sketch
			.sketch-logo
			.source-link-text
				| Download .sketch
	.login
		.login-form
			input( type='text', placeholder='Username' )
			hr.login-rule
			input( type='text', placeholder='Password' )
		.login-description
			| Registration and login is for demo purposes
			| only. Both fields are required, but it
			| doesn’t matter what they are.
		.login-button
			| Login
section.tools
	img.hexagon( src='./images/hexagon.svg' )
	.tools-wrapper
		.section-header
			h1
				| Tools
			p
				| These open-source libraries allow for this
				| project's processes and methods.
		.list-of-tools
			.tools-row
				.tool
					.tool-logo.angular
					.tool-category
						| Client-side Framework
					p
						| blah blah
				.tool
					.tool-logo.sass-and-jade
					.tool-category
						| Preprocessing
					p
						| blah blah
				.tool
					.tool-logo.eslint
					.tool-category
						| Quality Control
					p
						| blah blah
				.tool
					.tool-logo.karma
					.tool-category
						| Client-side Tests
					p
						| blah blah
			.tools-row
				.tool
					.tool-logo.node
					.tool-category
						| Client-side Framework
					p
						| blah blah
				.tool
					.tool-logo.angular
					.tool-category
						| Document-oriented Database
					p
						| blah blah
				.tool
					.tool-logo.angular
					.tool-category
						| Client-side Framework
					p
						| blah blah
				.tool
					.tool-logo.angular
					.tool-category
						| Server-side tests
					p
						| blah blah
section.features
	.section-header
		h1
			| Features
		p
			| Using the tools listed above, app-sprout
			| comes with a number of reusable patterns
			| commonly found in web applications.
	.client-and-server-side-features
		.client-side-features
			h3
				| Client-side
			ul.feature-list
				li
					| Modular application architecture
				li
					| Example parent and child nested states
				li
					| Example custom directive
				li
					| Communication with an API
				li
					| Example unit ests and end to end tests
				li
					| Custom, modern, and forward thinking CSS reset
		.server-side-features
			h3
				| Server-side
			ul.feature-list
				li
					| Bluebird style promises
				li
					| Example routes with middleware glued together by promises
				li
					| User registration and login
				li
					| Example tests with testing utility functions
				li
					| SSL (coming soon)
footer
	.source-links
		.github
			.github-logo
			.source-link-text
				| View on Github
		.sketch
			.sketch-logo
			.source-link-text
				| Download .sketch