.login-app-sprout-logo( ui-sref='homepage' )
.login
	form( name='form', novalidate='' )
		.login-form
			.login-email
				input( type='text', name='email', required='', placeholder='Email', ng-model='email' )
				.form-error( ng-show='form.email.$error.email' )
					| Invalid email.
				.form-error( ng-show='form.$submitted && !form.email.$error.email' )
					div( ng-show='form.password.$error.required' )
						| Your email is required.
			hr.login-rule
			.login-password
				input( type='text', name='password', required='', placeholder='Password', ng-model='password' )
				.form-error( ng-show='form.$submitted && !form.email.$error.email' )
					div( ng-show='form.password.$error.required' )
						| Your password is required.
		.login-login-button.big-green-button( ng-click='loginUser(  )' )
			.button-text( ng-hide='loading' )
				| Login
			.button-loading( ng-show='loading' )
				spinner
			input.account-save-submit( type='submit' )
	.login-register-button.small-outline-button( ui-sref='register' )
		| Register
	.login-description
		| Registration and login is for demo purposes
		| only. Both fields are required, but it
		| doesn’t matter what they are.
	